@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: linear-gradient(
      rgba(23, 37, 84, 0.85),
      rgba(59, 7, 100, 0.8),
      rgba(74, 4, 78, 0.75)
    ),
    url("/bg.webp");
  background-size: cover;
  background-position: center;
}

.text-gradient {
  background: -webkit-linear-gradient(
    225deg,
    #f0abfc 0%,
    #d8b4fe 50%,
    #93c5fd 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
